# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/

# IDEs / editors
.idea/
.vscode/
*.swp

# OS files
.DS_Store
Thumbs.db

# Termux / misc
*.termux

# Script
git_autopilot.git
git_log.sh
